/Backend/node_modules

# dependencies
/Frontend/node_modules
/Frontend/.pnp

# testing
/Frontend/coverage

# next.js
/Frontend/.next/
/Frontend/out/

# production
/Frontend/build

# env files (can opt-in for committing if needed)
/Frontend/.env*

# vercel
/Frontend/.vercel
